apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: {{ .appName }}
  description: ""
spec:
  type: library
  lifecycle: experimental
  domain: {{ .domain }}
  system: {{ .system }}
  owner: {{ .owner }}
